/*transform translate pushes the library over on the x axis. otherwise, w/o transform the navbar will not be visible because under 
the library. adding transition on the library.   */
.library{
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background-color: white;
    box-shadow: 2px 2px 50px rgb(204, 204, 204);
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    h2{
        padding: 2rem;
    }
   
}
/*flexing and controlling size of image*/
.library-song{
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem; //top, right, bottom, left
    cursor: pointer;
    img{
        width: 30%;
    }
    &:hover{
        background: rgb(209, 232, 235);  //adds hovering affect. when point to song, highlights song
    }
}

.song-description{
    padding-left: 1rem;
    h3{
        font-size: 1rem;
    }
    h4{
        font-size: 0.7rem;
    }
}

//code does not work with Chrome
*{
    scrollbar-width: thin;  //controls width of scrollbar
    scrollbar-color: blue;
}
//this works with Chrome. code styles the scrollbar
*::-webkit-scrollbar{
    width: 5px;
}
*::-webkit-scrollbar-track{
    background: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color:  rgb(209, 232, 235);
    border-radius: 20px;
    border: transparent;
}

//changes color of song when clicked
.selected {
    background: rgb(179, 219, 241);
}

//
.active-library{
    transform: translateX(0%);
    opacity: 1;
}